
 
/* AXES */
/* ticks */
.axis line{
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
    }
    
/* axis contour */
.axis path {
stroke: #706f6f;
stroke-width: 0.7;
shape-rendering: crispEdges;
}

/* axis text */
.axis text {
fill: #2b2929;
font-family: Georgia;
font-size: 120%;
}

/* LINE CHART */
.line {
fill: none;
stroke: #454545;
stroke-dasharray: 3;
stroke-linejoin: round;
stroke-linecap: round;
shape-rendering: crispEdges; 
}

.ghost-line {
fill: none;
stroke: #454545;
opacity: 0;
stroke-width: 10;
stroke-linejoin: round;
stroke-linecap: round;
shape-rendering: crispEdges; 
}

.serie_label {
fill: #454545;
font-family: Avenir;
font-size: 125%;
}

.dot {
    fill: darkgrey;
    stroke-width: 10pt;
    stroke: transparent;
    border-radius:100%;
    padding:10px;
    width: 10px;
    background-clip:content-box; /* <- key point*/
}

.title {
    fill: black;
    font-family: Avenir;
    font-size:24px;
    text-align: center!important;
    letter-spacing: 0.05em;
    margin-bottom: 0px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
.grid path {
    stroke-width: 0;
  }
  
div.tooltip {	
    line-height: 1;
    font-weight: 500;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 2px;
    margin: -1px 0 0 0;
    box-sizing: border-box;
    display: inline;
    font-size: 11px;
    content: "\25BC";
    position: absolute;
    text-align: center;		
}