  <!DOCTYPE html>
  <meta charset="utf-8">

  <style type="text/css">
      body {
          font-family: Avenir;
          font-size: 12px;
          user-select: none;
      }
  </style>

  <head>
    <meta property="og:site_name" content="Coviz"/>
    <meta property="og:title" content="Covid-19 Visualizations"/>
    <meta property="og:description" content="Explore and graph all of the world's available reliable data on the novel coronavirus."/>
    <meta property="og:url" content="https://coronaviz19.herokuapp.com/">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://github.com/twang126/coviz/blob/master/static/images/header.png"/>


    <meta charset="utf-8">
      <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>

      <!-- Include Twitter Bootstrap and jQuery: -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
      </script>

      <!-- Include the plugin's CSS and JS: -->
      <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-multiselect.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-multiselect.css') }}" type="text/css" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
      <style></style>
  </head>

  <body>
      <div id="container" class="svg-container">
          <form id="graphOptions" style="position: relative; left: 100px; top:95px">
              <!-- Note the missing multiple attribute! -->
              <label for="metrics_menu">Metrics</label>
              <select id="metrics_menu" multiple="multiple">
              </select>
              <label for="entities_menu" style="padding-left: 15px;">Locations</label>
              <select id="entities_menu" multiple="multiple"></select>
              <input id="graph_action" type="button" class="btn btn-default" value="Plot">
          </form>
      </div>

      <script src="{{ url_for('static',filename='js/covid-graph.js') }}"> </script>
  </body>