  <!DOCTYPE html>
  <meta charset="utf-8">

  <style type="text/css">
      body {
          font-family: Avenir;
          font-size: 12px;
          user-select: none;
      }
  </style>

  <head>
    <meta property="og:site_name" content="Coviz-19"/>
    <meta property="og:title" content="nCOVID-19 Data Exploratory Tool"/>
    <meta property="og:description" content="Plot and explore any combination of Covid-19 metrics and locations. Backed by all of the world's available, most reliable data."/>
    <meta property="og:url" content="https://coronaviz19.herokuapp.com/">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://lh3.googleusercontent.com/Zwvs9Ya4vZbRHZT-VViW06yHwXqGCaL7ECHtC1OcnoyoPJPoRj1jyIubJD5qqKtnMllv-LR_imSEQKmk9cLB0AxWdPvKZFOTHqW187-uHkSDX0Hnc247CaaMMZeXAOSStuhKV-pqIur1AXwe6YKRg4wXL2zAQA6ZL_qeMKFc5zux9kzfE40HZy-NO88uJi2SxXlU-j_2U01GKuy1AlI7wu0SMDu65ITBlIEz-UtzmkgLQSh4M0UHNEhowndFYXr3SQIVHKcNlztF0C77yp60cYIeqYAJrqlMbKgT-jwgonjnQiVuGn4NoDu44iv1yknG0B7WifUdrv7a8vPU5-bHO0K8Kno6wcjWfbbdSJCW8d03PRld3eiTu60TwtqHFFE8wCRjbdyh1aMUFheTBwbeknxqi-1IEcCLiZfuFVg-OgcQJ491iORJvyGeJ8RFy8b3BY34WE0_mfDUbudQucKaD7n2S1BQiCpc2d0dD0qAgNzoa42pRrjRDNI7Ph5o0C_HXeZYBzguCH3pDeEwI9f429Xaalx2d7DmZN3UKAtl55HD4dlcBxlhM1MXVpIlIMM6CAVEnrSZ1TDv7HMcJSEN-CQxR3si6sj7mXguXYY4mMz4ji2obSDWJEps3nw_iVvnUpi-bkeVGG73WVKpZtbKwkbe-m69R90FRKdyWBOR4mXbkD9x72A3pi248bjSog=w1744-h986-no"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <title>nCOVID-19 Data Exploratory Tool</title>

    <meta charset="utf-8">
      <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>

      <!-- Include Twitter Bootstrap and jQuery: -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
      </script>

      <!-- Include the plugin's CSS and JS: -->
      <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-multiselect.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-multiselect.css') }}" type="text/css" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
      <style></style>
  </head>

  <body>
      <div id="container" class="svg-container">
          <form id="graphOptions" style="position: relative; left: 100px; top:95px">
              <!-- Note the missing multiple attribute! -->
              <label for="metrics_menu">Metrics</label>
              <select id="metrics_menu" multiple="multiple">
              </select>
              <label for="entities_menu" style="padding-left: 15px;">Locations</label>
              <select id="entities_menu" multiple="multiple"></select>
              <input id="graph_action" type="button" class="btn btn-default" value="Plot">
          </form>
      </div>

      <script src="{{ url_for('static',filename='js/covid-graph.js') }}"> </script>
  </body>